<app-navbar></app-navbar>

<div class="layout">
  <main class="content">
    <div class="task-board">
      <h1 class="board-title">Task Board</h1>

      <div class="columns">
        <div class="column" *ngFor="let s of statuses" [attr.data-key]="s.toString()">
          <h3>{{ s }}</h3>

          <div
            cdkDropList
            [id]="s.toString()"
            class="drop-list"
            [cdkDropListData]="tasksByStatus[s.toString()]"
            [cdkDropListConnectedTo]="connectedTo(s)"
            (cdkDropListDropped)="drop($event, s)"
          >
            <div
              class="task-card"
              *ngFor="let t of tasksByStatus[s.toString()]; let i = index"
              cdkDrag
              (cdkDragStarted)="onDragStarted()"
              (cdkDragEnded)="onDragEnded()"
              (click)="onCardClick(t)"
            >
              <div class="card-header" cdkDragHandle>
                <div class="lead-block">
                  <ng-container *ngIf="t.leadAvatarUrl; else initials">
                    <img class="avatar-img" [src]="t.leadAvatarUrl" alt="avatar" />
                  </ng-container>
                  <ng-template #initials>
                    <div class="avatar" aria-hidden="true">
                      {{ avatarInitials(getLeadName(t)) }}
                    </div>
                  </ng-template>

                  <div class="lead-text">
                    <div class="lead-name">{{ getLeadName(t) }}</div>
                  </div>
                </div>

                <div class="card-side">
                  <span class="meta" *ngIf="t.dueDate">{{ t.dueDate | date : 'shortDate' }}</span>
                </div>
              </div>

              <div class="card-body">
                <div class="task-title-link">{{ t.title }}</div>
                <div class="task-desc" *ngIf="t.description">{{ t.description }}</div>
              </div>

              <div class="card-footer">
                <div class="footer-right">
                  <span class="badge">$450</span>
                  <div class="badge">
                    <span>{{ getPriorityLabel(t) }}</span>
                    <span
                      class="status-dot"
                      [ngClass]="getDotClass(t)"
                      [title]="getPriorityLabel(t)"
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
